<h1>Word Counter</h1>
<form action="/word_counter">
  <div class="form-group">
    <label for="search_word">Enter a word to search for:</label>
    <input id="search_word" name="search_word" class="form-control" type="text">
    <br>
    <label for="phrase_to_search">Enter a phrase to search in:</label>
    <input id="phrase_to_search" name="phrase_to_search" class="form-control" type="text">
  </div>
  <button id="submit" class="btn-success">Submit</button>
</form>
